In [2]:
import geopandas as gpd
from shapely.geometry import Point 


import json

import matplotlib.pyplot as plt
import numpy as np

In [20]:
# Path to the CSV file
gdf_path = 'polygons/pxdptodatosok.shp'

# Read the CSV file into a Geopandas DataFrame
gdfPolygons = gpd.read_file(gdf_path)
gdfPolygons['#obs'] = np.nan



gdfPolygons.to_file(gdf_path, index=False)

In [21]:
gdfPolygons

,link,codpcia,departamen,provincia,#obs,geometry
0,02001,02,Comuna 1,Ciudad Autónoma de Buenos Aires,NaN,"POLYGON ((-58.37501 -34.57959, -58.36690 -34.5..."
1,02002,02,Comuna 2,Ciudad Autónoma de Buenos Aires,NaN,"POLYGON ((-58.40084 -34.57126, -58.40005 -34.5..."
2,02003,02,Comuna 3,Ciudad Autónoma de Buenos Aires,NaN,"POLYGON ((-58.39365 -34.60154, -58.39348 -34.6..."
3,02004,02,Comuna 4,Ciudad Autónoma de Buenos Aires,NaN,"POLYGON ((-58.35695 -34.61980, -58.35672 -34.6..."
4,06091,06,Berazategui,Buenos Aires,NaN,"POLYGON ((-58.01702 -34.78120, -58.08380 -34.8..."
...,...,...,...,...,...,...
522,90112,90,Trancas,Tucumán,NaN,"POLYGON ((-65.54407 -26.09089, -65.54315 -26.0..."
523,90119,90,Yerba Buena,Tucumán,NaN,"POLYGON ((-65.25443 -26.78508, -65.25646 -26.7..."
524,94007,94,Río Grande,Tierra del Fuego,NaN,"POLYGON ((-68.60577 -54.55123, -68.60480 -54.3..."
525,94014,94,Ushuaia,Tierra del Fuego,NaN,"MULTIPOLYGON (((-67.37727 -54.91089, -67.37819..."
526,94021,94,Islas del Atlántico Sur,Tierra del Fuego,NaN,"MULTIPOLYGON (((-59.00931 -51.71191, -59.01015..."

In [8]:
# Path to the CSV file
csv_path = 'observations/observationsArgentinaRaw.csv'

# Read the CSV file into a Geopandas DataFrame
gdfObservations = gpd.read_file(csv_path)

# Create a new geometry column with Point objects
geometryColumn = [Point(xy) for xy in zip(gdfObservations['longitude'], gdfObservations['latitude'])]

# Assign the geometry column to the Geopandas DataFrame
gdfObservations['geometry'] = geometryColumn

# Drop the latitude and longitude columns
gdfObservations = gdfObservations.drop(['latitude', 'longitude'], axis=1)

# Create a new  column polygon
gdfObservations['polygon'] = np.nan

# Save the modified Geopandas DataFrame as a new CSV file
gdfObservations.to_file('observations/observationsArgentina.shp')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11464\3801293906.py:20: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdfObservations.to_file('observations/observationsArgentina.shp')

In [9]:
gdfObservations

,id,observed_on,image_url,scientific_name,geometry,polygon
0,85336,2012-05-26,https://static.inaturalist.org/photos/124930/m...,Coprinus comatus,POINT (-58.48160 -34.48611),NaN
1,364863,2009-11-21,https://inaturalist-open-data.s3.amazonaws.com...,Distantes,POINT (-68.09893 -54.81839),NaN
2,367483,2009-11-21,https://inaturalist-open-data.s3.amazonaws.com...,Usnea,POINT (-68.55503 -54.84104),NaN
3,565162,2013-12-22,https://inaturalist-open-data.s3.amazonaws.com...,Cyttaria hariotii,POINT (-68.48139 -54.84627),NaN
4,1085403,2014-05-24,https://inaturalist-open-data.s3.amazonaws.com...,Gymnopilus,POINT (-58.91321 -34.41850),NaN
...,...,...,...,...,...,...
28834,175999092,2023-07-30,https://inaturalist-open-data.s3.amazonaws.com...,Fungi,POINT (-60.69719 -31.57264),NaN
28835,176002284,2023-07-30,https://static.inaturalist.org/photos/30592904...,Agaricales,POINT (-58.47089 -34.51473),NaN
28836,176013924,2023-07-26,https://inaturalist-open-data.s3.amazonaws.com...,Polyporales,POINT (-53.97560 -25.85740),NaN
28837,176014117,2023-07-30,,Fungi,POINT (-64.39187 -36.67812),NaN
28838,176014136,2023-07-26,https://inaturalist-open-data.s3.amazonaws.com...,Fungi,POINT (-53.96643 -25.85111),NaN